// Radius
$default-border-radius: 8px;
$large-border-radius: 12px;

// Padding
$default-padding: 20px;
$large-padding: 40px;

// Responsive breakpoints
$mobile-breakpoint: 540px;

// Gaps
$small-gap: 8px;

// Colors
$white: #fff;
$off-white: #f5f5f5;
$black: #262626;