@import '../../styles/variables';

.auth-card {
  .app-icon {
    font-size: 48px;
    color: $primary-blue;
    margin-bottom: 16px;
    display: block;
  }

  .ant-typography-title {
    margin-bottom: 8px;
    color: #262626;
  }
}